
.col-form-label {
    font-size: 17px;
    color:black
}

.scrollable-dropdown-menu .dropdown-menu {
    height: 200px;
    overflow-y: auto;
    touch-action: auto;
    width: 100% !important;
}

.force-scroll {
    overflow-y: scroll;
    height: 200px;
}

.red{
    color:red;
}