
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-main__outer" ng-controller="SupplierController">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-users text-success">
                        </i>
                    </div>
                    <div>
                        Medicine Supplier
                        <div class="page-title-subheading">
                            This an new medicine supplier creating page.
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <div class="d-inline-block dropdown">
                        <button type="button" onclick="window.location.href='/Pharmacy/Supplier/Index'" class="btn btn-outline-primary">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-users fa-w-20"></i>
                            </span>
                            Supplier List
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        Supplier | New
                    </div>
                    <div class="card-body">
                        <form name="frmSupplier" ng-submit="frmSupplier.$valid && save()" ng-class="{'submitted' : submitted}" class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <div class="form-outline w-100">
                                            <input id="supplierName" name="supplierName" type="text" ng-model="supplier.Name" ng-keydown="$event.keyCode === 13 && changeFocus('shortName')" class="form-control" ng-class="{'validation-error':frmSupplier.supplierName.$invalid && submitted}" required>
                                            <label class="form-label" for="supplierName" style="margin-left: 0px; font-size:16px">Enter supplier name</label>
                                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 116.8px;"></div><div class="form-notch-trailing"></div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <div class="form-outline w-100">
                                            <input id="shortName" name="shortName" type="text" ng-model="supplier.ShortName" ng-keydown="$event.keyCode === 13 && changeFocus('mobile')" class="form-control" required>
                                            <label class="form-label" for="shortName" style="margin-left: 0px; font-size:16px">Enter short name</label>
                                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 116.8px;"></div><div class="form-notch-trailing"></div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <div class="form-outline w-100">
                                            <input id="mobile" name="mobile" type="text" ng-model="supplier.Mobile" ng-keydown="$event.keyCode === 13 && changeFocus('address')" class="form-control" required>
                                            <label class="form-label" for="mobile" style="margin-left: 0px; font-size:16px">Enter mobile</label>
                                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 116.8px;"></div><div class="form-notch-trailing"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="position-relative form-group">
                                <div class="form-outline w-100">
                                    <textarea id="address" name="address" type="text" ng-model="supplier.Address" class="form-control" ng-keydown="$event.keyCode === 13 && changeFocus('isActive')" required></textarea>
                                    <label class="form-label" for="address" style="margin-left: 0px; font-size:16px">Enter address</label>
                                    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 116.8px;"></div><div class="form-notch-trailing"></div></div>
                                </div>
                            </div>
                            <div class="position-relative form-check">
                                <input name="isActive" type="checkbox" ng-model="supplier.IsActive" class="form-check-input" required>
                                <label class="form-check-label">Is Active</label>
                            </div>
                            <div class="pull-right">
                                <button type="submit" ng-show="IsProcessing == false" name="save" ng-click="submitted = true" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Save
                                </button>
                                <button type="button" ng-show="IsProcessing == true" name="add" onclick="window.location.href='/Pharmacy/Supplier/Create'" class="btn btn-primary">
                                    <i class="fas fa-sync"></i>
                                    Refresh
                                </button>
                            </div>
                            <div uib-alert ng-repeat="alert in alerts" dismiss-on-timeout="5000" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" class="d-flex align-items-center" role="alert">
                                <svg ng-show="alert.type == 'primary'" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                                <svg ng-show="alert.type == 'success'" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                                <svg ng-show="alert.type == 'warning'" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                <svg ng-show="alert.type == 'danger'" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                <span>
                                    <b>{{alert.msg}}</b>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/Pharmacy/Scripts/SupplierController.js"></script>



