
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__outer" ng-controller="SupplierListController">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="fa fa-user icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div>
                        List of Suppliers
                        <div class="page-title-subheading">
                            This is an supplier listing page.
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary" onclick="window.location.href='/Pharmacy/Supplier/Create'">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-plus-circle fa-w-20"></i>
                        </span>
                        New Supplier
                    </button>
                </div>
            </div>
        </div>            
        <div class="main-card mb-3 card">
            <div class="card-header">
                Supplier List
                <div class="btn-actions-pane-right">
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search" ng-change="searchFromList()" ng-model="searchText">
                        <div class="input-group-append"><button type="button" class="btn btn-primary"><i class="fas fa-search"></i></button></div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="mb-0 table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Short Name</th>
                            <th>Mobile</th>
                            <th>Is Active</th>
                            <th style="width:158px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in filteredSuppliers">
                            <td scope="row"><b>{{((currentPage - 1) * itemsPerPage) + ($index + 1)}}</b></td>
                            <td ng-bind="x.Name"></td>
                            <td ng-bind="x.ShortName"></td>
                            <td ng-bind="x.Mobile"></td>
                            <td ng-show="x.IsActive == true">
                                <div class="badge badge-success">Active</div>
                            </td>
                            <td ng-show="x.IsActive == false">
                                <div class="badge badge-danger">Inactive</div>
                            </td>
                            <td ng-show="x.IsActive == null">
                                <div class="badge badge-danger">Inactive</div>
                            </td>
                            <td>
                                <a class="btn btn-outline-primary" href="/Pharmacy/Supplier/Edit?Id={{x.Id}}"><i class="fa fa-edit"></i> Edit</a>
                                <a class="btn btn-outline-info" href="" ng-click="printer.printReport('/Pharmacy/Supplier/Report?id=' + x.Id);"><i class="fa fa-eye-slash"></i> View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <ul uib-pagination total-items="DataList.length" items-per-page="itemsPerPage" ng-change="pageChanged()" ng-model="currentPage" max-size="maxSize" class="pagination pagination-circle" boundary-links="true"></ul>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/Pharmacy/Scripts/SupplierListController.js"></script>



